@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Sans+Pro&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #20201b, #444950, #777777, #7b8b88);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}


.Container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}