.Container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.title {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 50%;
    flex-shrink: 1;


}

.ascrollbtns {
    /* move to center of screen */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 50%;
    flex-shrink: 1;

}

/* proxy Button */

.btnGradProxies {background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%)}
.btnGradProxies {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 px #eee;
   border-radius: 10px;
   display: block;
 }

 .btnGradProxies:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


/* end of proxy button */



.creds {
    font-size: 20px;
    color: rgb(221, 205, 205);
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 50%;

}
















